# Importation des Package

In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import urllib
import bs4
import re
import copy
import collections as co
import plotly
import plotly.graph_objects as go
import matplotlib.pyplot as plt
import numpy as np

In [29]:
AS= pd.read_csv(r'C:\Users\Utilisateur\Downloads\all_streaming_shows.csv',sep=',')
AS

,Series Title,Year Released,Content Rating,IMDB Rating,R Rating,Genre,Description,No of Seasons,Streaming Platform;;;;;;;;
0,"Breaking Bad,2008,18+,9.5,100,""Crime,Drama"",""W...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Game of Thrones,2011,18+,9.3,99,""Action & Adve...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Rick and Morty,2013,18+,9.2,97,""Animation,Come...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Stranger Things,2016,16+,8.8,96,""Drama,Fantasy...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"The Boys,2019,18+,8.7,95,""Action & Adventure,C...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
12361,"A Fishing Story with Ronnie Green,2017,N/A,N/A...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12362,CMT Most Shocking,2003,NaN,NaN,-1,-1,-1,-1,-1 ;;;;;;;;
12363,"NHL Road to the Outdoor Classics,2016,N/A,N/A,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12364,"Addy Media,2018,N/A,N/A,-1,""2018,Prime Video"",...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12365,"My Dream Derelict Home,2014,N/A,N/A,-1,""2014,F...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
df_type_score= pd.read_csv(r'C:\Users\Utilisateur\Documents\GitHub\Projet_Python_2A\type_score.csv',sep=';',encoding = "ISO-8859-1")
df_type_score

                         Unnamed: 0     Type  Score
0                The Queen's Gambit  TV Show    381
1                       Outer Banks  TV Show    259
2                Unsolved Mysteries  TV Show    242
3              The Umbrella Academy  TV Show    235
4                         Cobra Kai  TV Show    217
..                              ...      ...    ...
284      How to Train Your Dragon 2    Movie      1
285                     On My Block  TV Show      1
286                      The Office  TV Show      1
287  House at the End of the Street    Movie      1
288                       Community  TV Show      1

[289 rows x 3 columns]

In [ ]:
df_type_score.

# Premiers bails sur la base (Léo)

In [331]:
#cellule Myrtille
df = pd.read_csv(r'C:\Users\Utilisateur\Documents\GitHub\Projet_Python_2A\netflix_titles.csv')
#ça marchait pas et je comprenais pas pk, j'ai vu sur un forum de rajouter un r avant et ça marche

In [332]:
#cellule Léo
#df = pd.read_csv(r'Mets ton chemin')

Téléchargement de la base de données des films et série présent sur Netflix

In [333]:
#from google.colab import drive

#drive.mount('/content/gdrive')

In [334]:
 #df = pd.read_csv("/content/gdrive/My Drive/Python - Netflix/Projet Python 2A/netflix_titles.csv")

In [335]:
df.tail(100)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
6134,80176929,TV Show,Abnormal Summit,"Jung-ah Im, Seung-uk Jo","Hyun-moo Jun, Si-kyung Sung, Se-yoon Yoo",South Korea,"August 4, 2017",2017,TV-PG,2 Seasons,"International TV Shows, Korean TV Shows, Stand...","Led by a trio of Korean celebs, a multinationa..."
6135,80176931,TV Show,Chef & My Fridge,NaN,"Seong-joo Kim​, Jung-hwan Ahn",South Korea,"August 4, 2017",2017,TV-PG,2 Seasons,"International TV Shows, Korean TV Shows, Reali...",The best chefs of Korea go head-to-head to cre...
6136,80194367,TV Show,Paranormal Survivor,NaN,NaN,Canada,"August 4, 2017",2016,TV-14,2 Seasons,Docuseries,"In interviews and reenactments, ordinary peopl..."
6137,80117552,TV Show,Ozark,NaN,"Jason Bateman, Sofia Hublitz, Laura Linney, Sk...",United States,"August 31, 2018",2018,TV-MA,2 Seasons,"Crime TV Shows, TV Dramas, TV Thrillers",A financial adviser drags his family from Chic...
6138,80223138,TV Show,The Comedy Lineup,NaN,"Michelle Buteau, Ian Karmel, Taylor Tomlinson,...",United States,"August 31, 2018",2018,TV-MA,2 Seasons,"Stand-Up Comedy & Talk Shows, TV Comedies",A diverse group of up-and-coming comedians per...
...,...,...,...,...,...,...,...,...,...,...,...,...
6229,80000063,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,NaN,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil..."
6230,70286564,TV Show,Maron,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews..."
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,NaN,2016,NaN,60 min,Movies,Nursery rhymes and original music for children...
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ..."
6233,70153404,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...

La plupart des variables sont codées comme objet, il faudra recoder certaines en int pour pouvoir faire des opérations.

In [336]:
df.dtypes

show_id          int64
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object


On compte le nombre de valeurs manquantes pour 'date_added' et 'release_year', les deux variables sur lesquelles on peut faire des opérations numériques (pour comparer les séries/films qui ont été créés par Netflix ou juste rachetés)

In [337]:
df[['date_added']].isna().sum()

date_added    11
dtype: int64

In [338]:
df[['release_year']].isna().sum()

release_year    0
dtype: int64

On créé une variable 'year_added' codée en int qui renseigne l'année où le film/série a été ajouté sur Netflix et on remplace les valeurs manquantes par des zéros.

In [339]:
df[['date_added']].iloc[0:6233]

             date_added
0     September 9, 2019
1     September 9, 2016
2     September 8, 2018
3     September 8, 2018
4     September 8, 2017
...                 ...
6228                NaN
6229                NaN
6230                NaN
6231                NaN
6232                NaN

[6233 rows x 1 columns]

In [340]:
regex = r'([0-2][0-9][0-9][0-9])'
df['year_added'] = df['date_added'].str.extract(regex,expand=True)

In [341]:
df['year_added'] = df['year_added'].fillna(0)

In [342]:
df['year_added'] = df['year_added'].astype(str).astype(int)

In [343]:
df.dtypes

show_id          int64
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
year_added       int32
dtype: object

##Création de df1 (colonnes choisies)

On crée une nouvelle base qui ne prend que certaines variables.

In [344]:
df1 = df[['type', 'title','director', 'cast', 'date_added', 'year_added', 'release_year', 'duration', 'listed_in']]

In [345]:
df1.tail(12)

,type,title,director,cast,date_added,year_added,release_year,duration,listed_in
6222,TV Show,Weeds,NaN,"Mary-Louise Parker, Hunter Parrish, Alexander ...","April 1, 2014",2014,2012,8 Seasons,"TV Comedies, TV Dramas"
6223,TV Show,Gunslinger Girl,NaN,"Yuuka Nanri, Kanako Mitsuhashi, Eri Sendai, Am...",NaN,0,2008,2 Seasons,"Anime Series, Crime TV Shows"
6224,TV Show,Anthony Bourdain: Parts Unknown,NaN,Anthony Bourdain,NaN,0,2018,5 Seasons,Docuseries
6225,TV Show,Frasier,NaN,"Kelsey Grammer, Jane Leeves, David Hyde Pierce...",NaN,0,2003,11 Seasons,"Classic & Cult TV, TV Comedies"
6226,TV Show,La Familia P. Luche,NaN,"Eugenio Derbez, Consuelo Duval, Luis Manuel Áv...",NaN,0,2012,3 Seasons,"International TV Shows, Spanish-Language TV Sh..."
6227,TV Show,The Adventures of Figaro Pho,NaN,"Luke Jurevicius, Craig Behenna, Charlotte Haml...",NaN,0,2015,2 Seasons,"Kids' TV, TV Comedies"
6228,TV Show,Kikoriki,NaN,Igor Dmitriev,NaN,0,2010,2 Seasons,Kids' TV
6229,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",NaN,0,2015,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ..."
6230,TV Show,Maron,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",NaN,0,2016,4 Seasons,TV Comedies
6231,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,0,2016,60 min,Movies
6232,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",NaN,0,2013,2 Seasons,"British TV Shows, TV Comedies, TV Dramas"
6233,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",NaN,0,2003,10 Seasons,"Classic & Cult TV, TV Comedies"

On classe la base par ordre décroissant des dates de sortie.

In [346]:
df1 = df1.sort_values('release_year', ascending = False) #probleme si on veut classer selon year_added

In [347]:
df1.head()

,type,title,director,cast,date_added,year_added,release_year,duration,listed_in
3467,TV Show,Medical Police,NaN,"Erinn Hayes, Rob Huebel, Malin Akerman, Rob Co...","January 10, 2020",2020,2020,1 Season,"Crime TV Shows, TV Action & Adventure, TV Come..."
3249,Movie,All the Freckles in the World,Yibrán Asuad,"Hánssel Casillas, Loreto Peralta, Andrea Sutto...","January 3, 2020",2020,2020,90 min,"Comedies, International Movies, Romantic Movies"
3220,TV Show,Dracula,NaN,"Claes Bang, Dolly Wells, John Heffernan","January 4, 2020",2020,2020,1 Season,"British TV Shows, International TV Shows, TV D..."
3427,Movie,Leslie Jones: Time Machine,"David Benioff, D.B. Weiss",Leslie Jones,"January 14, 2020",2020,2020,66 min,Stand-Up Comedy
3436,TV Show,The Healing Powers of Dude,NaN,"Jace Chapman, Larisa Oleynik, Tom Everett Scot...","January 13, 2020",2020,2020,1 Season,"Kids' TV, TV Comedies, TV Dramas"

In [348]:
df1.tail()

,type,title,director,cast,date_added,year_added,release_year,duration,listed_in
2023,Movie,Why We Fight: The Battle of Russia,"Frank Capra, Anatole Litvak",NaN,"March 31, 2017",2017,1943,82 min,Documentaries
2022,Movie,Undercover: How to Operate Behind Enemy Lines,John Ford,NaN,"March 31, 2017",2017,1943,61 min,"Classic Movies, Documentaries"
2013,Movie,The Battle of Midway,John Ford,"Henry Fonda, Jane Darwell","March 31, 2017",2017,1942,18 min,"Classic Movies, Documentaries"
2011,Movie,Prelude to War,Frank Capra,NaN,"March 31, 2017",2017,1942,52 min,"Classic Movies, Documentaries"
4292,TV Show,Pioneers: First Women Filmmakers*,NaN,NaN,"December 30, 2018",2018,1925,1 Season,TV Shows

## Création de df_movie et df_tvshow
 On créé deux bases une avec les séries et une avec les films.

In [349]:
df_tvshow = df1[df1['type'].isin(["TV Show"])]

In [350]:
df_movie = df1[df1['type'].isin(['Movie'])]

reset index ?

In [351]:
df_tvshow.head()

,type,title,director,cast,date_added,year_added,release_year,duration,listed_in
3467,TV Show,Medical Police,NaN,"Erinn Hayes, Rob Huebel, Malin Akerman, Rob Co...","January 10, 2020",2020,2020,1 Season,"Crime TV Shows, TV Action & Adventure, TV Come..."
3220,TV Show,Dracula,NaN,"Claes Bang, Dolly Wells, John Heffernan","January 4, 2020",2020,2020,1 Season,"British TV Shows, International TV Shows, TV D..."
3436,TV Show,The Healing Powers of Dude,NaN,"Jace Chapman, Larisa Oleynik, Tom Everett Scot...","January 13, 2020",2020,2020,1 Season,"Kids' TV, TV Comedies, TV Dramas"
3189,TV Show,Cheer,NaN,NaN,"January 8, 2020",2020,2020,1 Season,"Docuseries, Reality TV, Teen TV Shows"
3464,TV Show,AJ and the Queen,NaN,"RuPaul Charles, Izzy G., Michael-Leon Wooley, ...","January 10, 2020",2020,2020,1 Season,"TV Comedies, TV Dramas"

In [352]:
df_tvshow.tail()

,type,title,director,cast,date_added,year_added,release_year,duration,listed_in
5704,TV Show,Star Trek,NaN,"William Shatner, Leonard Nimoy, DeForest Kelle...","October 1, 2017",2017,1968,3 Seasons,"Classic & Cult TV, TV Action & Adventure, TV S..."
5980,TV Show,The Andy Griffith Show,NaN,"Andy Griffith, Ron Howard, Don Knotts, Frances...","July 1, 2017",2017,1967,8 Seasons,"Classic & Cult TV, TV Comedies"
5981,TV Show,The Twilight Zone (Original Series),NaN,Rod Serling,"July 1, 2017",2017,1963,4 Seasons,"Classic & Cult TV, TV Sci-Fi & Fantasy"
4079,TV Show,Pioneers of African-American Cinema,"Oscar Micheaux, Spencer Williams, Richard E. N...",NaN,"February 1, 2017",2017,1946,1 Season,TV Shows
4292,TV Show,Pioneers: First Women Filmmakers*,NaN,NaN,"December 30, 2018",2018,1925,1 Season,TV Shows

In [353]:
df_movie.head()

,type,title,director,cast,date_added,year_added,release_year,duration,listed_in
3249,Movie,All the Freckles in the World,Yibrán Asuad,"Hánssel Casillas, Loreto Peralta, Andrea Sutto...","January 3, 2020",2020,2020,90 min,"Comedies, International Movies, Romantic Movies"
3427,Movie,Leslie Jones: Time Machine,"David Benioff, D.B. Weiss",Leslie Jones,"January 14, 2020",2020,2020,66 min,Stand-Up Comedy
3195,Movie,"Live Twice, Love Once",Maria Ripoll,"Oscar Martínez, Inma Cuesta, Mafalda Carbonell...","January 7, 2020",2020,2020,102 min,"Comedies, Dramas, International Movies"
3180,Movie,Bulletproof 2,Don Michael Paul,"Faizon Love, Kirk Fox, Tony Todd, Pearl Thusi,...","January 9, 2020",2020,2020,97 min,"Action & Adventure, Comedies"
3518,Movie,Ghost Stories,"Anurag Kashyap, Dibakar Banerjee, Karan Johar,...","Janhvi Kapoor, Sobhita Dhulipala, Sukant Goel,...","January 1, 2020",2020,2020,145 min,"Horror Movies, International Movies, Thrillers"

In [354]:
df1[df1['title'].isin(['House of Cards'])]

,type,title,director,cast,date_added,year_added,release_year,duration,listed_in
5741,TV Show,House of Cards,NaN,"Kevin Spacey, Robin Wright, Kate Mara, Corey S...","November 2, 2018",2018,2018,6 Seasons,"TV Dramas, TV Thrillers"

In [4]:
AS= pd.read_csv(r'C:\Users\Utilisateur\Downloads\all_streaming_shows.csv')
AS

,Series Title,Year Released,Content Rating,IMDB Rating,R Rating,Genre,Description,No of Seasons,Streaming Platform;;;;;;;;
0,"Breaking Bad,2008,18+,9.5,100,""Crime,Drama"",""W...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Game of Thrones,2011,18+,9.3,99,""Action & Adve...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Rick and Morty,2013,18+,9.2,97,""Animation,Come...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Stranger Things,2016,16+,8.8,96,""Drama,Fantasy...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"The Boys,2019,18+,8.7,95,""Action & Adventure,C...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
12361,"A Fishing Story with Ronnie Green,2017,N/A,N/A...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12362,CMT Most Shocking,2003,NaN,NaN,-1,-1,-1,-1,-1 ;;;;;;;;
12363,"NHL Road to the Outdoor Classics,2016,N/A,N/A,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12364,"Addy Media,2018,N/A,N/A,-1,""2018,Prime Video"",...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12365,"My Dream Derelict Home,2014,N/A,N/A,-1,""2014,F...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN